body {
    /* margin: 0;*/
    font-size: 4rem;
    font-family: sans-serif;
    background-color: #1d1818;
}

.flex-container {
    background-color: #404040;
    border-radius: 10px;
    border: solid 2px yellow;
}

.flex-container > * {
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background: #f18c55;
}

/*la propiedad align-content: flex-center todos los elementos los alinea
al centro del contenedor como un todo con respecto a su contenido todo esto en un espacio reducido */
.flex-container{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.one{
    height: 100px;
}

.two{
    height: 230px;
}


